body {
	background-image: url("../img/stars.gif");
}
h2 {
	text-align: left;
    color: darkslategrey;
}

h3 {
    text-align: left;
	color: #276FC5;
}



div {
	border: 1px solid black;
    background-image: url("../img/paper.jpg");
	padding: 2em;
	margin: 0 auto;
	height: auto;
	width: 400px;
	border-radius: 30px;
}
